body {
	background-image: url("../images/Friends_Background_img.png");
	font-family: 'Shadows Into Light', cursive, sans-serif;
	color: rgb(244, 240, 255);
	font-size: 30px;
}

h1 {
	font-size: 80px;
}

button{
	width: 200px;
	height: 90px;
	color: black;
	background-color: white;
	font-size: 50px;
}

.contains-btn {
	margin-top: 200px;
}
.choice{
	font-size: 20px;
	margin-bottom: 20px;
	height: 50px;

}

#question{
	margin: 30px auto;
	background-color: black;
}